 .portfolio .grid li figure div {
    background-color: #865a07b0 !important;
}
.grid-gallery .portfolio-link{
    /* background-color: #130e0580; */
    color: #ffffff;
}
.white-link{
    color: #ffffff;
}
.white-link:hover{
    color: #ffffff;
    
}